@use '../modules/index' as *;

//Successfully registered component
.after-sent {
  margin: 50px 0px;
  @include flex(center, column);

  .after-sent-text {
    margin-bottom: 50px;
    @include large-lineheight;
  }
}