@use '../modules' as *;

.btn {
  background: $yellow;
  width: 100px;
  height: 34px;
  border: none;
  border-radius: 80px;
  color: #000000DE;
  @include text-paragraph;

  &:hover {
    filter: brightness(105%);
  }

  &:disabled {
    background: #B4B4B4;
    color: rgba(255, 255, 255, 0.87);
    margin-top: 1px;
  }

  &.large {
    width: 120px;
  }
}