@use '../modules' as *;

.header {
  height: 60px;
  width: 100vw;
  background: white;

  .header-container {
    @include flex(space-between, row);
    margin: 0 auto;
    height: 100%;

    @include for-desktop {
      width: 1024px;
      padding: 0 60px;
    }
    @include for-big-desktop {
      width: 1170px;
      padding: 0;
    };

    .header-logo {
      margin-top: 5px;
    }
  }

  .header-navigation {
    width: 210px;
    @include flex(space-between, center)
  }
}