@use '../modules' as *;

.header {
  width: 100vw;
  height: 60px;
  background: white;

  .header-container {
    @include flex(space-between, row);
    width: 360px;
    height: 100%;
    padding: 0 16px;
    margin: 0 auto;

    @include for-tablet {
      width: 768px;
      padding: 0 32px;
    }
    @include for-desktop {
      width: 1024px;
      padding: 0 60px;
    }
    @include for-big-desktop {
      width: 1170px;
      padding: 0;
    }

    .header-logo {
      margin-top: 5px;
    }
  }

  .header-navigation {
    width: 210px;
    @include flex(space-between, center)
  }
}