@forward "header.component";
@forward "button.component";
@forward "main-block.component";
@forward "users-list.component";
@forward "user-card.component";
@forward "sign-up-form.component";
@forward "preloader.component";
@forward "after-sent-component";