@use '../modules' as *;

.main-block {
  height: 650px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../images/pexels-alexandr-podvalny-1227513.jpeg') bottom;
  background-size: cover;
  text-align: center;
  margin: 0 auto;

  @include flex(center, column);
  @include for-tablet {
    height: 500px;
  }
  @include for-desktop{
    width: 1024px;
    height: 650px;
  };
  @include for-big-desktop {
    width: 1170px;
  };

  .main-block-title {
    @include text-heading;
    width: 380px;
    color: white;
    margin-bottom: 21px;
  }

  .main-block-text {
    @include text-paragraph;
    width: 380px;
    margin-bottom: 32px;
    color: white;
  }
}