@use '../modules' as *;

.sign-up-form {
  @include flex(center, column);

  .sign-up-form-title {
    margin: 140px 0 50px;
    @include text-heading;
  }

  form {
    width: 380px;

    //@include flex(center, column);

    .form-control {
      position: relative;
      margin: 40px 0 40px;

      @include normal-lineheight;

      .form-input {
        height: 54px;
        width: 100%;
        background: $light-gray;
        border: 1px solid #D0CFCF;
        box-sizing: border-box;
        border-radius: 4px;
        padding-left: 15px;
        position: relative;
        outline: none;

        &:focus {
          background: $light-gray;
        }

        &:focus ~ .form-label,
        &:not(:placeholder-shown):not(:focus) ~ .form-label {
          top: -15px;
        }

        &:focus:invalid {
          border: 1px solid red;

          & ~ .form-message {
            display: block;
          }
        }
      }

      .form-label {
        position: absolute;
        top: 14px;
        left: 16px;
        width: 55px;
        background: $light-gray;
        text-align: center;
        height: 26px;
        transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        cursor: text;
      }

      .form-message {
        width: 600px;
        position: absolute;
        bottom: -28px;
        left: 23px;
        display: none;
      }
    }

    .positions {
      @include flex(center, column);
      width: 380px;
      align-items: flex-start;

      .positions-title {
        margin-bottom: 10px;
      }

      .positions-item {
        margin-bottom: 7px;
      }

      .position-label {
        margin-left: 10px;
      }
    }

    .positions-control {
      margin-top: 7px;
      display: grid;
      grid-template-columns: 1em auto;
      gap: 0.5em;
    }

    input[type="radio"] {
      appearance: none;
      background-color: #fff;
      margin: 0;
      width: 20px;
      height: 20px;
      border: 0.15em solid #00BDD3;
      border-radius: 50%;
      display: grid;
      place-content: center;

      &:before {
        content: "";
        width: 5px;
        height: 5px;
        border-radius: 50%;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em #00BDD3;
      }

      &:checked:before {
        transform: scale(1);
      }
    }
    .inputfile {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
      margin-top: 50px;

      & + label {
        padding: 14px 15px;
        border: 1px solid rgba(0, 0, 0, 0.87);
        background: $light-gray;
        box-sizing: border-box;
        border-radius: 4px 0px 0px 4px;
        cursor: pointer;
        position: relative;
        z-index: 1;

        span {
          position: absolute;
          top: -1px;
          left: 75px;
          width: 304px;
          height: 52px;
          border: 1px solid #D0CFCF;
          border-left: 0;
          box-sizing: border-box;
          border-radius: 4px;
          z-index: -1;
          padding-left: 25px;
          @include flex(flex-start, row);
        }
      }

      &:focus:invalid + label,
      &:focus:invalid + label span {
        border: 1px solid red;

        & ~ .file-message {
          display: block;
          color: red;
        }
      }
    }

    .file-message {
      width: 500px;
      position: absolute;
      bottom: -75px;
      left: 23px;
      display: none;
    }

    .form-btn {
      margin: 50px 0;
      text-align: center;
    }
  }
}



