@use '../modules' as *;

.red-border {
  border: 1px solid red !important;
}

.sign-up-form-container {
  @include flex(center, column)
}

.sign-up-form {
  width: 100vw;
  margin: 0 auto;

  @include for-mobile {
    width: auto;
  }
  @include for-tablet {
    width: $largeWidth;
  }
  @include for-desktop {
    width: $largeWidth;
  }
  @include for-big-desktop {
    width: auto;
  }

  .sign-up-form-title {
    width: 328px;
    text-align: center;
    margin: 140px auto 50px;

    @include text-heading;
    @include for-tablet {
      width: 100%;
    }
  }

  form {
    width: 328px;

    @include for-tablet {
      width: 380px;
    }

    .form-control {
      position: relative;
      margin-bottom: 50px;
      @include normal-lineheight;

      &:nth-child(3) {
        margin-bottom: 45px;
      }

      .form-input {
        width: 100%;
        height: 54px;
        background: $light-gray;
        border: 1px solid #D0CFCF;
        border-radius: 4px;
        box-sizing: border-box;
        padding-left: 15px;
        position: relative;
        outline: none;

        &:focus ~ .form-label,
        &:not(:placeholder-shown):not(:focus) ~ .form-label {
          top: -15px;
        }
      }

      .form-label {
        width: 76px;
        height: 26px;
        position: absolute;
        top: 14px;
        left: 16px;
        color: $gray;
        background: $light-gray;
        transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        cursor: text;
      }

      .form-message {
        width: 600px;
        color: red;
        position: absolute;
        bottom: -28px;
        left: 23px;
      }
    }

    .positions {
      @include flex(center, column);
      width: 380px;
      align-items: flex-start;

      .positions-title {
        margin-bottom: 9px;
      }

      .positions-item {
        margin-bottom: 7px;
      }

      .position-label {
        margin-left: 10px;
      }
    }

    .positions-control {
      margin-top: 6px;
      display: grid;
      grid-template-columns: 1em auto;
      gap: 0.5em;
    }

    input[type="radio"] {
      appearance: none;
      width: 20px;
      height: 20px;
      background-color: $light-gray;
      border: 0.1em solid rgba(208, 207, 207, 1);
      border-radius: 50%;
      display: grid;
      margin: 0;
      place-content: center;

      &:checked {
        border: 0.13em solid #00BDD3;
      }

      &:before {
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 50%;
        box-shadow: inset 0.8em 0.8em #00BDD3;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
      }

      &:checked:before {
        transform: scale(1.6);
      }
    }

    .input-file {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      z-index: -1;
      margin-top: 60px;

      & + label {
        position: relative;
        padding: 15px 14.5px;
        border: 1px solid rgba(0, 0, 0, 0.87);
        background: $light-gray;
        box-sizing: border-box;
        border-radius: 4px 0px 0px 4px;
        cursor: pointer;
        z-index: 1;

        span {
          position: absolute;
          top: -1.2px;
          left: 73px;
          width: 253px;
          height: 54px;
          color: #7E7E7E;
          border: 1px solid #D0CFCF;
          border-left: 0;
          border-radius: 4px;
          box-sizing: border-box;
          z-index: -1;
          padding-left: 25px;
          @include flex(flex-start, row);

          @include for-tablet {
            width: 306px;
          }
        }
      }
    }

    .file-message {
      width: 500px;
      position: absolute;
      bottom: -40px;
      left: 23px;
      color: red;
    }

    .form-btn {
      margin: 63px 0 100px;
      text-align: center;
    }
  }
}



