@use '../modules/index' as *;

//Users List component
.users-list {
  width: $largeWidth;
  opacity: 0; // Change opacity on isLoaded state
  margin: 0 auto;
  @include flex(center, column);

  //Responsive parameters
  @include for-mobile {
    width: auto;
  }
  @include for-tablet {
    width: $largeWidth;
  }
  @include for-desktop {
    width: $largeWidth;
  }
  @include for-big-desktop {
    width: auto;
  }

  //List Title
  .users-list-title {
    @include text-heading;
    width: 328px;
    text-align: center;
    margin: 140px auto 0;

    //Responsive parameters
    @include for-tablet {
      width: 100%;
    }
  }

  //List Items
  .users-items {
    flex-wrap: wrap;
    margin-top: 50px;
    @include flex(center, column);

    //Responsive parameters
    @include for-tablet {
      padding: 0 32px;
      @include flex(space-between, row);
    }
    @include for-desktop {
      width: 904px;
      padding: 0;
    }
    @include for-big-desktop {
      width: 1170px;
    }

    //Item
    .user-item {
      width: 328px;
      height: 254px;
      text-align: center;
      background: #fff;
      border-radius: 10px;
      padding: 20px;
      margin-bottom: 20px;

      //Responsive parameters
      @include for-tablet {
        width: 344px;
        margin-top: 0;
        margin-bottom: 16px;
      }
      @include for-desktop {
        width: 282px;
        margin-bottom: 29px;
      }
      @include for-big-desktop {
        width: 370px;
      }
    }
  }

  //Users List button
  .user-list-btn {
    margin-top: 30px;

    @include for-tablet {
      margin-top: 35px;
    }
    @include for-desktop {
      margin-top: 21px;
    }
  }
}

//Change opacity on isLoaded state
.loaded {
  opacity: 1;
}



