@use '../modules/index' as *;

//User card component
.user-card {
  height: 100%;
  cursor: default;
  @include flex(space-between, column);
  @include text-paragraph;

  //User name margin
  .user-card-name {
    margin: 20px 0;
  }

  //User data sliced information
  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 288px;

    //Responsive parameters
    @include for-tablet {
      width: 304px;
    }
    @include for-desktop {
      width: 242px;
    }
    @include for-big-desktop {
      width: 330px;
    }
  }

  //User Avatar
  img {
    border-radius: 50%;
    height: 70px;
    width: 70px;
  }

  //Email tooltip styles
  .show-email {
    position: relative;

    .show-email-text {
      position: absolute;
      top: 10px;
      left: -35px;
      color: $light-gray;
      background: black;
      border-radius: 5px;
      padding: 3px 7px;
    }
  }
}