@use '../modules' as *;

.user-card {
  height: 100%;
  cursor: default;


  @include flex(space-between, column);
  @include text-paragraph;

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include for-tablet {
      width: 304px;
    }
    @include for-desktop {
      width: 242px;
    }
    @include for-big-desktop {
      width: 330px;
    }
  }

  img {
    border-radius: 50%;
  }

  .show-email {
    position: relative;

    .show-email-text {
      position: absolute;
      top: 10px;
      left: -35px;
      background: black;
      color: $light-gray;
      border-radius: 5px;
      padding: 3px 7px;
    }
  }
}