@use 'fonts' as *;
@use 'variables' as *;

@mixin font-normal {
  font-family: $nunito;
  font-weight: $regular;
}

@mixin large-lineheight {
  font-size: $large;
  line-height: $large-lineheight;
}

@mixin normal-lineheight {
  font-size: $normal;
  line-height: $normal-lineheight;
}

@mixin text-heading {
  @include font-normal;
  @include large-lineheight;
  cursor: default;
}

@mixin text-paragraph {
  @include font-normal;
  @include normal-lineheight;
}

@mixin flex($justify, $direction) {
  display: flex;
  align-items: center;
  justify-content: $justify;
  flex-direction: $direction;
}