@use 'mixins' as *;
@use 'colors' as *;

* {
  @include font-normal;
  box-sizing: border-box;
  color: $black;
  margin: 0;
  justify-self: center;
}

body {
  background: $light-gray;
  overflow-x: hidden;
}