@use 'mixins' as *;
@use 'colors' as *;

* {
  @include font-normal;
  box-sizing: border-box;
  color: $black;
  margin: 0;
}

body {
  @include flex(center, row);
  margin: 0;
  background: $light-gray
}